@import 'fonts.css';

body {
	background: #F0F0F0;
	display: grid;
	font-family: 'NotoSans';
	font-size: 12px;
	margin: 0px;
}

nav {
    background: aquamarine;
	height: 100%;
	margin: 0px;
	padding: 5px;
	position: fixed;
	width: 300px;
	z-index: 2;
}

nav h1 {
	font-size: inherit;
	text-transform: uppercase;
}

nav .block_input {
	padding: 5px 0;
}

nav .block_input span.valueBox {
	color: grey;
}

nav label {
	float: left;
	width: 50%;
	/* display: block; */
}

#typewriter {
	grid-area: typewriter;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 10px;
}
#typewriter #svgContainer {
	width: auto;
	height: 100%;
	display: table;
}

#typewriter #svgContainer .cadratin {
	display: table-cell;
	vertical-align: middle;
}
#editor_mp {
	grid-area: edition;
}

#setchart {
	grid-area: setchart;
	overflow-y: scroll;
}
#setchart .imgBox {
	margin-top: 10%;
	height: 80%;
	cursor: pointer;
	width: 100%;
}
#setchart img {
	margin-top: 10%;
	height: 80%;
	cursor: pointer;
	/* width: 100%; */
}

section#content {
	display: grid;
	height: 100%;
	left: 310px;
	position: fixed;
	width: calc(100% - 310px);
	z-index: 1;
}

section#content.set {
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas: "setchart";
}
section#content.type {
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
	grid-template-areas: "typewriter typewriter typewriter edition"
	"typewriter typewriter typewriter setchart";
}


section.loading:before {
	content: 'loading...';
	font-size: 12px;
	left: 10px;
	position: fixed;
	top: 10px;
}

.chart {
    width: 10%;
    height: 10%;
    box-shadow: 1px 0 0 0 #7fffd4, 0 1px 0 0 #7fffd4, 1px 1px 0 0 #7fffd4, 1px 0 0 0 #7fffd4 inset, 0 1px 0 0 #7fffd4 inset;
    float: left;
    text-align: center;
    font-size: 25px;
    display: table;
}

.chart:hover {
	background: white;
}
.chart .info {
    color: black;
    font-size: 12px;
    position: relative;
    margin-left: 0px;
    margin-bottom: 0px;
    background: aquamarine;
}

[style^="stroke:rgb(0.000000%,0.000000%,100.000000%);"] {
	/* stroke: red !important; */
}
.cadratin:hover  [style^="stroke:rgb(0.000000%,0.000000%,0.000000%);"] {
	/* stroke: red !important; */
	stroke-width: .6 !important;
}

svg text {
	fill: blue; 
}

.cadratin .tools_bar {
	font-size: 12px;
    position: absolute;
    cursor: pointer;
    display: none;
    margin-right: 10px;
    margin-left: 10px;
}
.cadratin:hover .tools_bar {
	display: initial;
}

.cadratin .refresh {
	display: none;
	color: purple;
}

.activeInks .refresh {
	display: initial;
}

.activeInks svg {
	background: white;
}


svg:hover text {
	display: block;
}


