@import 'fonts.css';

:root {
  --main-bg-color: oldlace;
  --main-active-color: blue;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: white;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: var(--main-active-color);
    height: 7px;
    width: 7px;
}

body {
	background: #F0F0F0;
	display: grid;
	font-family: 'NotoSans';
	font-size: 10px;
	margin: 0px;
}

nav {
	grid-area: nav;
    background: var(--main-bg-color);
	height: 100%;
	margin: 0px;
	padding: 5px;
	z-index: 2;
}

nav h1 {
	font-size: inherit;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px;
	margin-top: 12px;
}

nav .block_input {
	padding: 3px 0;
}

span.valueBox {
	color: var(--main-active-color);
}

#global_nav label {
	float: left;
	width: 50%;
	/* display: block; */
}
#info_nav label {
	width: 100%;
	display: block;
}

nav .tabs {
	margin-bottom: 0px;
	position: absolute;
	bottom: 10px;
	font-size: 12px;
	width: 200px;
	text-transform: uppercase;
}

#typewriter {
	grid-area: typewriter;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 10px;
	border-right: 5px solid var(--main-bg-color);
}

#typewriter #svgContainer {
	width: auto;
	height: 100%;
	display: table;
	margin: 0 auto;
}

#typewriter #svgContainer .cadratin {
	display: table-cell;
	vertical-align: middle;
}

#editorBox {
	grid-area: edition;
	background:var(--main-bg-color);
}

#editorBox .options h1 {
	margin: 0;
	font-size: inherit;
}
.editor {
	width: 100%;
    height: 30%;
}

#setchart {
	grid-area: setchart;
	overflow-y: scroll;
	/* padding: 10px; */
	/* padding-top: 20px; */
}
#setchart .imgBox {
	margin-top: 0%;
	height: 80%;
	cursor: pointer;

}
#setchart img {
	margin-top: 10%;
    height: 100%;
    cursor: pointer;
	/* width: 100%; */
}

#btn_all {
	    position: absolute;
    display: block;
    bottom: 20px;
    margin-left: 20px;
    z-index: 2;
}

section#content {
	display: grid;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1;
}

section#content.set {
	grid-template-columns: 280px calc(100% - 280px);
	grid-template-rows: 100%;
	grid-template-areas: "nav setchart";
}
section#content.type:not(.free) {
	grid-template-columns: 280px auto 400px;
	grid-template-rows: 70%;
	grid-template-areas: "nav typewriter edition"
	"setchart typewriter  edition";
}
section#content.type.free {
	/* background: red; */
	grid-template-columns: 280px auto;
	grid-template-rows: 70%;
	grid-template-areas: "nav typewriter"
	"setchart typewriter";
}
section#content.type.free #editorBox {
	display: none;
}


section .loading:before {
	content: 'loading...';
	/* left: 10px; */
	position: absolute;
	/* top: 10px; */
	left: calc(50% - 25px);
	background: var(--main-active-color);
	top: calc(50% - 50px);
	width: 50px;
	padding: 2px;
	color: white;
}

.set .chart {
	width: 10%;
    height: 10%;
}
.type .chart {
	width: 20%;
    height: 20%;
}
.chart {
    box-shadow: 1px 0 0 0 var(--main-bg-color), 0 1px 0 0 var(--main-bg-color), 1px 1px 0 0 var(--main-bg-color), 1px 0 0 0 var(--main-bg-color) inset, 0 1px 0 0 var(--main-bg-color) inset;
    float: left;
    text-align: center;
    font-size: 10px;
}

.chart:hover {
	background: white;
}
.chart .info {
    color: black;
    font-size: 12px;
    position: relative;
    margin-left: 0px;
    margin-bottom: 0px;
    background: var(--main-bg-color);
}
.chart:hover .info {
    background: var(--main-active-color);
	color: white;
}

.addChart {
    background: var(--main-bg-color);
}

[style^="stroke:rgb(0.000000%,0.000000%,100.000000%);"] {
	/* stroke: red !important; */
}
.cadratin:hover  [style^="stroke:rgb(0.000000%,0.000000%,0.000000%);"] {
	/* stroke: red !important; */
	stroke-width: .6 !important;
}

svg text {
	fill: var(--main-active-color); 
}

.btn {	
	padding: 2px 3px;
	border: 1px solid black;
	border-radius: 5px;
}

.btn_file {	
	padding: 2px 3px;
	border: 1px solid black;
	cursor: pointer;
	background: #dddddd;
	/* border-radius: 5px; */
}

.btn_file.active {	
	border: none;
	background: var(--main-active-color);
	color: white;
}


.tabs {
	display: grid;
	grid-template-columns: auto auto 10%;
}

.tabs a {
	text-align: center;
	text-decoration: none;
}

.options .tools_bar {
	font-size: 12px;
	text-transform: uppercase;
    cursor: pointer;
	margin: 20px 1px;
}


.options .btn:hover {	
	background: black;
	color: white;
}
.options .inks {
	right: 10px;
	position: absolute;
}

.options #refresh {
	display: none;
	color: purple;
}

.activeInks #refresh {
	display: initial;
}

.activeInks svg {
	background: white;
}

svg:hover text {
	display: block;
}


