body {
	background: #F0F0F0;
	font-family: monospace;
	font-size: 8pt;
	margin: 0px;
}

nav {
	background: bisque;
	height: 100%;
	margin: 0px;
	padding: 5px;
	position: fixed;
	right: 0px;
	width: 300px;
	z-index: 2;
}

nav .block_input {
	border-top: 1px solid black;
	margin-top: 10px;
	padding: 5px 0;
}

nav .block_input span.valueBox {
	color: grey;
}

nav label {
	display: block;
}

section {
	z-index: 1;
	transform: scale(2);
	transform-origin: 0 0;
	background: bisque;
	height: 100%;
	min-width: 100%;
	position: absolute;
}

section.loading{
	/* background: grey; */
}
section.loading:before {
	content: 'loading...';
	font-size: 5px;
	position: fixed;
	left: 10px;
	top: 10px;
}
section.loading span.load {
	color: white;
	position: fixed;
	width: 100%;
	text-align: center;
}

svg:hover path {
	/* stroke: red !important; */
	stroke-width: 0.6 !important;
}
[style^="stroke:rgb(0.000000%,0.000000%,100.000000%);"] {
	stroke: grey !important;
}

svg text {
	fill: blue; 
	display: none;
}

.cadratin:hover:before {
	content: 'inkscape';
	font-size: 6px;
	position: absolute;
	cursor: pointer
}


svg:hover text {
	display: block;
}
